{% extends "layout.html" %}
{% load static %}
{% block css %}
    <style>
        #id_subject, #id_class, #selected-class, #id_grade {
            width: 600px;
            margin-right: 300px;
        }

        #id_subject li, #id_grade li {
            width: 90px;
        }


    </style>
{% endblock %}



{% block content %}
    <div style="width: 680px;margin: 0 auto;">
        <form novalidate class="change" method="post" enctype="multipart/form-data">
            {% for filed in form %}
                {% if filed.label == '徽章图片' %}
                    <div class="form-group">
                        <label for="id_icon">
                            <span>徽章图片</span>
                            <img id="id_icon_img" width="124" height="124" src="/media/{{ form.instance.icon }}"
                                 style="margin-left: 10px">
                        </label>
                        {{ form.icon }}
                    </div>
                {% else %}
                    <div class="form-group">
                        <label>{{ filed.label }}</label>
                        {{ filed }}
                        {{ filed.errors.0 }}
                    </div>
                {% endif %}
            {% endfor %}

            <button type="submit" class="btn btn-primary pull-right">提交</button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'pub/js/common.js'%} "></script>
    <script>
        $(function () {
            common_ops.bindChangePicture('id_icon')
        });

    </script>

{% endblock %}