

.class-item {
    border: #2b669a;
    font-family: '微软雅黑';
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.tb-body {
    border-top: 2px solid #169BD5;
    border-bottom: 2px solid #169BD5;
}

.td-box{
    width: 65px !important;
    height: 90px;
    vertical-align: center !important;
}

.graduated {
    border-top: 2px solid yellow;
}

.tb-wrap {
    /*width: 1600px;*/
    /*height: 800px;*/
    overflow: auto;
    overflow-x: scroll;
}
.class-name{
    width: 20px;
}


th {
    width: 30px;
}