{% extends 'layout.html' %}
{% load static %}
{% load url_tag %}
{% block css %}
    <style>
        .school input {
            width: 500px !important;
        }

        ul li {
            list-style: none;
            display: inline-block;
        }

        .error {
            color: red;
            position: relative;
            right: 80px;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="width: 680px;margin: 0 auto;" class="row">
        <form action="" method="post" novalidate>
            <div class="form-group">
                <label for="student_name">学生姓:</label>
                {{ form.last_name }}
                <span class="pull-right error">{{ form.errors.last_name.0 }}</span>
            </div>

            <div class="form-group">
                <label for="student_name">学生名:</label>
                {{ form.first_name }}
                <span class="pull-right error">{{ form.errors.first_name.0 }}</span>
            </div>

            <div class="form-group ">
                <label for="student_name">生日:</label>
                {{ form.birthday }}
                <span class="pull-right error">{{ form.errors.birthday.0 }}</span>
            </div>

            <div class="form-group">
                <label>性别:</label>
                {{ form.gender }}
                <span class="pull-right error">{{ form.errors.gender.0 }}</span>
            </div>

            <div class="form-group">
                <label>所在学校:</label>
                {{ form.school }}
                <span class="pull-right error">{{ form.errors.stu_class.0 }}</span>
            </div>

            <div class="row form-inline distpicker form-group" style="margin-left: 1px">
                <label>所在班级:</label>
                <select name="grade" class="form-control" id="grade">
                    <option value='{{ form.instance.grade.pk }}'>---选择年级---</option>
                </select>
                <select name="stu_class" class="form-control" id="stu_class">
                    <option value="{{ form.instance.stu_class.pk }}">---选择班级---</option>
                </select>
                <span class="pull-right error">{{ form.errors.stu_class.0 }}</span>
            </div>

            <div class="pull-right" style="margin-top: 10px">
                <button class="btn btn-primary">提交</button>
            </div>

        </form>

    </div>
{% endblock %}

{% block js %}
    <script src="{% build_static_url '/pub/js/common.js' %}"></script>
    <script>
        $(function () {
            getClass();
            // 根据年级过滤班级
            $('#grade').change(function () {
                getClass()
            });
            $('#id_school').change(function () {
                getClass()
            });
        });

        // 根据学校向后台请求获取年级班级等信息
        function getClass() {
            let schoolId = $('#id_school').val();
            let grade = $('#grade').val();
            let classID = $('#stu_class').val();
            let dataObj = common_ops.getStudentClass(schoolId, grade);
            if (dataObj) {
                $('#stu_class option').remove();
                $('#grade option').remove();
                if (dataObj.stu_class) {
                    var class_data = JSON.parse(dataObj.stu_class);
                    for (let i = 0; i < class_data.length; i++) {
                        var item = {text: class_data [i].fields.name, value: class_data[i].pk, $order: i + 1};
                        var opHtml = `<option value="${ item.value}">${ item.text }</option>`;
                        if (classID == item.value) {
                            opHtml = `<option selected="selecte" value="${ item.value}">${ item.text }</option>`;
                        }
                        $('#stu_class').append(opHtml)
                    }
                }
                if (dataObj.grade_list) {
                    for (let i = 0; i < dataObj.grade_list.length; i++) {
                        var gradeItem = {text: dataObj.grade_list[i].grade, value: dataObj.grade_list[i].id};
                        var gradeOpHtml = `<option value="${ gradeItem.value}">${ gradeItem.text }</option>`;
                        if (grade == gradeItem.value) {
                            gradeOpHtml = `<option selected="selected" value="${ gradeItem.value}">${ gradeItem.text }</option>`;
                        }
                        $('#grade').append(gradeOpHtml)
                    }
                }
            }
        }




    </script>
{% endblock %}