{% extends 'layout.html' %}
{% load static %}


{% block css %}
    <style>
        .school input {
            width: 500px !important;
        }

        ul li {
            list-style: none;
            display: inline-block;
        }

        .error {
            color: red;
            position: relative;
            right: 80px;
        }
        a:hover{
            cursor: pointer;
            text-decoration: none;
        }
    </style>

{% endblock %}
{% block content %}
    <div style="width: 680px;margin: 0 auto;" class="shcool row">
        <form action="" method="post" novalidate enctype="multipart/form-data">
            <div class="form-group form-inline">
                <label for="country">所在国家:</label>
                {{ form.country }}
                <span class="pull-right error">{{ form.errors.country.0 }}</span>

            </div>

            <div class="form-group form-inline">
                <label for="id_logo">
                    <span>学校LOGO</span>
                    <img id="id_logo_img" width="124" height="124" src="/media/{{ form.instance.logo }}"
                         style="margin-left: 10px">
                </label>
                {{ form.logo }}
            </div>

            <div class="form-group form-inline">
                <label for="id_pattern">
                    <span>校名图案&nbsp&nbsp&nbsp</span>
                    <img id="id_pattern_img" width="124" height="124" src="/media/{{ form.instance.pattern }}"
                         style="margin-left: 10px">
                </label>
                {{ form.pattern }}
            </div>


            <div class="form-group ">
                <label for="school_name">学校名称：</label>
                {{ form.school_name }}
                <span class="pull-right error">{{ form.errors.school_name.0 }}</span>
            </div>

            <div class="form-group ">
                <label for="school_name">校名(英文)：</label>
                {{ form.English_name }}
            </div>

            <div class="form-group ">
                <label for="school_name">校名(本地语言)：</label>
                {{ form.local_school_name }}
            </div>

            <div data-toggle="distpicker" id="target" class="row form-inline distpicker form-group"
                 style="margin-left: 1px">
                <label>所属省市区:</label>
                {{ form.province }}
                {{ form.city }}
                {{ form.region }}
            </div>
            <div>
                <span class="pull-right error">{{ form.errors.province.0 }}</span>
            </div>


            <div class=" form-group">
                <label for="school_name">校区名称：</label>
                {{ form.campus_district }}
            </div>

            <div class="form-group ">
                <label for="school_name">校区英文名称：</label>
                {{ form.campus_english_name }}
            </div>

            <div class=" form-group">
                <label for="school_address">学校地址：</label>
                {{ form.address }}
                <span class="pull-right error">{{ form.errors.address.0 }}</span>
            </div>

            <div class="form-group ">
                <label for="school_name">学校官网：</label>
                {{ form.website }}
            </div>


            <div class="form-group">
                <label>学校类型:</label>
                <div class="checkbox range">
                    {{ form.school_type }}
                </div>
            </div>

            <div class="form-group">
                <label>办学层次:</label>
                <div class="checkbox range">
                    {{ form.school_layer }}
                </div>
            </div>

            <div class="form-group">
                <label>年级:</label>
                <div class="checkbox range">
                    <ul class="grade">

                    </ul>
                    <div class="col-xs-4">
                        <input type="text" class="form-control " placeholder="1班">
                        <a onclick="pop('{{ item.url }}')"  style="position: absolute; right: -15px; bottom: -4px">
                            <span style="font-size: 32px">+</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="form-group">
                {#                <label>班级：</label>#}

            </div>

            <div class="pull-right">
                <button class="btn btn-primary">提交</button>
            </div>
        </form>

    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'plug/Distpicker/dist/distpicker.js' %}"></script>
    <script>
        var kinderGarten = [[13, '小班'], [14, '中班'], [15, '大班']];
        var PrimarySchool = [[1, '一年级'], [2, '二年级'], [3, '三年级'], [4, '四年级'], [5, '五年级'], [6, '六年级']];
        var middleSchool = [[7, '初一'], [8, '初二'], [9, '初三']];
        var highSchool = [[10, '高一'], [11, '高二'], [12, '高三']];
        var stuClass = {
            1: kinderGarten,
            2: PrimarySchool,
            3: middleSchool,
            4: highSchool,
            5: PrimarySchool.concat(middleSchool),
            6: highSchool,
            7: PrimarySchool.concat(middleSchool).concat(highSchool)
        };
        $(function () {
            // 获取学校所在的省市区的信息
            $("#province").val("{{ form.instance.province }}");
            $("#province").trigger("change");
            $("#city").val("{{ form.instance.city }}");
            $("#city").trigger('change');
            $("#district").val("{{ form.instance.region }}");
            $("#district").trigger("change");

            bindChangePicture("id_logo");
            bindChangePicture("id_pattern");
            choiceGrade()
        });


        function bindChangePicture(id) {
            // 预览上传的图片
            $("#" + id).change(function () {
                console.log($(this));
                var file_obj = $(this)[0].files[0];
                var reader = new FileReader();
                reader.readAsDataURL(file_obj);
                reader.onload = function () {
                    $("#" + id + "_img").attr("src", reader.result)
                };
            })
        }

        function choiceGrade() {
            $('.school_layer input').click(function () {
                let schoolLayer = $(this).val();
                for (let key in stuClass) {
                    if (schoolLayer == key) {
                        $('.grade').find('li').remove();
                        for (let i = 0; i < stuClass[key].length; i++) {
                            var HtmlStr = `
                                <li>
                                    <label for="id_grade_${stuClass[key][i][0]}">
                                    <input type="checkbox" value="${stuClass[key][i][0]}" class="grade_item" id="id_grade_${stuClass[key][i][0]}">${stuClass[key][i][1]}</label>
                                </li>
                                `;
                            $('.grade').append(HtmlStr)
                        }

                    }

                }
            })
        }

    </script>
{% endblock %}