<!DOCTYPE html>
<html class="ui-page-login">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>学生心理档案</title>
		<link href="css/mui.min.css" rel="stylesheet" />		
		<link href="css/mui.picker.min.css" rel="stylesheet" />
		<link href="css/mui.poppicker.css" rel="stylesheet" />
		<link href="css/app.css" rel="stylesheet" />    
	</head>

<body>
	<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">学生心理档案</h1>
	</header>
	<div class="mui-content">
		<div class="public_logo flex">
			<img src="images/logo.jpg" alt="" />
			<div class="text">
				<p class="p1"><b>王明</b> <span>一年级(2班)</span></p>
				<p class="p2">WangMing</p>
			</div>
		</div>
		<div class="archives_title">
			<p>学生心理档案</p><p>Student psychological files</p>
		</div>
		<div class="archives_zixun">请各位教师务必遵守我校《心理咨询隐私保密制度》</div>
		<h3 class="component-title">个别档案</h3>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<span>曹光彪小学个别教育档案</span>
					<span class="mui-badge mui-badge-success">15条记录</span>
				</li>							
			</ul>
		<h3 class="component-title">学生基本情况</h3>
			<ul class="mui-table-view slassessList">
				<li class="flex_between">
					<span>生日</span>
					<span>1998-10-10</span>
					<span class="fot">11.2岁，日龄4098天，天蝎座</span>
				</li>
				<li class="flex_between">
					<span>国家与民族</span>
					<span>第一学期第12周</span>
				</li>
				<li class="flex_between">
					<span>健康状况</span>
					<span>癫痫</span>
				</li>
				<li class="flex_between">
					<span>家庭情况</span>
					<span>单亲，共3位同辈中排行第2</span>
				</li>				
			</ul>
		<h3 class="component-title">家长（监护人）情况</h3>
		<ul class="mui-table-view slassessList">
				<li class="flex_between">
					<span>母亲</span>
					<span>王兰兰（36）大学本科，民营职员</span>
					<span  class="fot">1392154154</span>
				</li>			
			</ul>
		
		<!--。-->
	</div>
	<style>
		
	</style>

		<script type="text/javascript" src="js/jQuery1.9.js" ></script>
		<script type="text/javascript" src="js/ajaxUrl.js" ></script>
		<script type="text/javascript" src="js/mui.min.js"></script>

		<script>
			
		</script>
</body>
</html>