<!DOCTYPE html>
<html class="ui-page-login">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>预约心理老师</title>
		<link href="css/mui.min.css" rel="stylesheet" />		
		<link href="css/mui.picker.min.css" rel="stylesheet" />
		<link href="css/mui.poppicker.css" rel="stylesheet" />
		<link href="css/app.css" rel="stylesheet" />    
	</head>

<body>
	<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">预约心理老师</h1>
	</header>
	<div class="mui-content">
		<div class="public_logo flex">
			<img src="images/logo.jpg" alt="" />
			<div class="text">
				<p class="p1"><b>王明</b> <span>一年级(2班)</span></p>
				<p class="p2">WangMing</p>
			</div>
		</div>
		
		<h3 class="component-title">选择学生</h3>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<span>一年级（10）班</span>
					<span class="mui-badge mui-badge-success">蒋韫慧</span>
				</li>							
			</ul>
		<h3 class="component-title">选择心理老师</h3>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<span> &nbsp;</span>
					<span class="mui-badge ">蒋韫慧</span>
				</li>							
			</ul>
		<h3 class="component-title">选择预约时间</h3>
		<ul class="mui-table-view slassessList">
				<li class="flex_between">
					<span>2019-10-12</span>
					<span>AM10:30</span>
					
				</li>
				<li class="flex_center">+预约</li>
		</ul>
		
		<!--。-->
	</div>
	<style>
		
	</style>

		<script type="text/javascript" src="js/jQuery1.9.js" ></script>
		<script type="text/javascript" src="js/ajaxUrl.js" ></script>
		<script type="text/javascript" src="js/mui.min.js"></script>

		<script>
			
		</script>
</body>
</html>