<!DOCTYPE html>
<html class="ui-page-login">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>学生心理档案记录</title>
		<link href="css/mui.min.css" rel="stylesheet" />		
		<link href="css/mui.picker.min.css" rel="stylesheet" />
		<link href="css/mui.poppicker.css" rel="stylesheet" />
		<link href="css/app.css" rel="stylesheet" />    
	</head>

<body>
	<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">学生心理档案记录</h1>
	</header>
	<div class="mui-content">
		<div class="public_logo flex">
			<img src="images/logo.jpg" alt="" />
			<div class="text">
				<p class="p1"><b>王明</b> <span>一年级(2班)</span></p>
				<p class="p2">WangMing</p>
			</div>
		</div>
		<div class="archives_title">
			<p>学生心理档案</p><p>Student psychological files</p>
		</div>
		<div class="archives_zixun">请各位教师务必遵守我校《心理咨询隐私保密制度》</div>		
		
			<ul class="mui-table-view slassessList">
				<li class="flex_between">
					<span>2018.09.11  14:20（已预约）</span>
					<span class="mui-badge mui-badge-success">还有3天</span>
				</li>							
			</ul>		
			<ul class="mui-table-view slassessList">
				<li class="flex_between">
					<span>2018.08.11（第4次）</span>				
					<span class="fot">记录教师：蒋韫慧</span>
				</li>
				<li class="flex_between">
					<span>2018.08.11（第3次）</span>				
					<span class="fot">记录教师：蒋韫慧</span>
				</li>
				<li class="flex_between">
					<span>2018.08.11（第2次）</span>				
					<span class="fot">记录教师：蒋韫慧</span>
				</li>
				<li class="flex_between">
					<span>2018.08.11（第1次）</span>				
					<span class="fot">记录教师：蒋韫慧</span>
				</li>
						
			</ul>
			<div class="addPC">
				+添加新的咨询记录
			</div>
			<div class="flex_between erweima">
				<div class="logos">
					<div class="public_logo flex">
						<img src="images/logo.jpg" alt="">
						<div class="text">
							<p class="p1">曹光彪小学</p>
							<p class="p2">Cao Guangbiao primary school</p>
						</div>
					</div>
					<div class="taptext">长按识别二维码导出文件</div>
				</div>
				<img src="images/u941.png" alt=""  class="ewm"/>
			</div>
		
		<!--。-->
	</div>
	<style>
		.erweima{ margin-top: 10px;}
		.erweima .public_logo .text{margin-top: 10px; margin-left: 5px;margin-right: 5px;}
		.erweima .public_logo img,
		.erweima .ewm{ width: 60px; height: 60px;}
		.erweima .taptext{ background: #FF9900; color: #fff; text-indent: 20px; line-height: 30px; border-radius: 10px; text-align: center;}
	</style>

		<script type="text/javascript" src="js/jQuery1.9.js" ></script>
		<script type="text/javascript" src="js/ajaxUrl.js" ></script>
		<script type="text/javascript" src="js/mui.min.js"></script>

		<script>
			
		</script>
</body>
</html>