{% extends 'base.html' %}
{% load static %}
{% load mental_tag %}

{% block title %}
    学生心理档案记录
{% endblock %}

{% block css %}
    <link href="{% static 'pub/css/mui.picker.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'pub/css/mui.poppicker.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">学生心理档案记录</h1>
    </header>
    <div class="mui-content">
        <div class="public_logo flex">
            {% head_stu_info student %}
        </div>
        <div class="archives_title">
            <p>学生心理档案</p>
            <p>Student psychological files</p>
        </div>
        <div class="archives_zixun">请各位教师务必遵守我校《心理咨询隐私保密制度》</div>
        {% if request.session.teacher_info.identity == '班主任' %}
            <div class="show_box1">
                <h3 class="component-title">记录教师</h3>
                <ul class="mui-table-view slassessList">
                    <li class="flex_between">
                        <span>班主任</span>
                        <span class="mui-badge mui-badge-success">{{ request.session.teacher_info.name }}</span>
                    </li>
                </ul>
                <h3 class="component-title">记录时间</h3>
                <ul class="mui-table-view slassessList">
                    <li class="flex_between">
                        <span>今天是 {{ current_time|date:"Y-m-d" }}</span>
                        <span class="mui-badge mui-badge-success">{{ school_week.1 }} 第{{ school_week.0 }}周</span>
                    </li>
                </ul>


                {% if is_filled %}
                    <div class="addPC" style="background-color: gray">
                        本周已记录
                    </div>
                {% else %}
                    <div class="addPC">
                        <a href="/mental/add_record/{{ student.pk }}/">+添加本周个别教育档案</a>
                    </div>
                {% endif %}
            </div>
        {% elif request.session.teacher_info.identity == '心理老师' %}
            <div class="show_box2">
                <h3 class="component-title">心理症状</h3>
                <ul class="mui-table-view slassessList">
                    <li class="flex_between">
                        阿斯伯格综合征 Asperger syndrome
                    </li>
                    <li class="tijiaoBox flex_between">
                        <input type="text" class="mui-input-clear" placeholder="请选择心理症状" id="BloodType"
                               readonly="readonly">
                        <button type="button" class="mui-btn mui-btn-primary">增加</button>
                    </li>
                </ul>

                <div class="addPC" style="background-color: gray" >
                    <a href="#" style="color: white">+添加心理咨询记录(暂未开通)</a>
                </div>

            </div>
        {% endif %}



        <h3 class="component-title">往期记录</h3>
        <ul class="mui-table-view slassessList">
            {% for record in record_list %}
                <li class="flex_between">
                    <a href="/mental/stu_record/{{ record.id }}/"><span>{{ record.record_time|date:"Y.m.d" }} <i>个别教育档案</i></span></a>
                    <span class="fot">记录教师：{{ record.teacher }}</span>
                </li>
            {% endfor %}
        </ul>

        <!--。-->
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static 'pub/js/mui.picker.js' %}"></script>
    <script type="text/javascript" src="{% static 'pub/js/mui.poppicker.js' %}"></script>
    <script>

        (function ($, doc) {
            $.init();
            $.ready(function () {
                //心理症状
                var userPicker = new $.PopPicker();
                userPicker.setData([{
                    value: '1',
                    text: '心理症状1'
                }, {
                    value: '2',
                    text: '心理症状2'
                }, {
                    value: '3',
                    text: '心理症状3'
                }, {
                    value: '4',
                    text: '心理症状4'
                }, {
                    value: '5',
                    text: '暂不清楚'
                }]);
                var BloodTypeButton = doc.getElementById('BloodType');
                if (BloodTypeButton) {
                    BloodTypeButton.addEventListener('tap', function (event) {
                        userPicker.show(function (items) {
                            BloodTypeButton.value = items[0].text;
                            console.log(items[0].value)

                        });
                    }, false);
                }

            });
        })(mui, document);
    </script>
{% endblock %}


