{% extends 'base.html' %}
{% load static %}
{% load mental_tag%}

{% block title %}
    记录个别档案
{% endblock %}


{% block content %}
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">教师</h1>
    </header>
    <div class="mui-content" style="position: relative">
{#        <div class="public_logo flex">#}
{#            <img src="{% static 'MentalHealth/images/logo.jpg' %}" alt=""/>#}
{#            <div class="text">#}
{#                <p class="p1"><b>曹光彪小学</b> <span>上海</span><span>黄埔</span></p>#}
{#                <p class="p2">Cao Guangbiao primary school</p>#}
{#            </div>#}
{#        </div>#}
        {% get_school_head school_id %}

        <h3 class="component-title">选择要记录的学生</h3>
        <div class="classes flex_between" style="position: relative">
            <div class="btn-left" id="class_left"><p class="triangle-left"></p></div>
            <div class="name" id="class_name">{{ class }}</div>
            <div class="btn-right" id="class_right"><p class="triangle-right"></p></div>
        </div>
        <ul class="mui-table-view" id="StudentList">


        </ul>

    </div>
    <div teacher_id="{{ teacher_id }}" id="teacher_id"></div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'MentalHealth/js/student_list.js' %}"></script>

{% endblock %}
