{% extends 'base.html' %}
{% load static %}

{% load mental_tag %}

{% block title %}
    教师页面
{% endblock %}

{% block  content %}

    <header class="mui-bar mui-bar-nav">
        <h1 class="mui-title">教师</h1>
    </header>
    <div class="mui-content">
        {% get_school_head school_id %}
        <h3 class="component-title">教师信息</h3>
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">姓名
                <span class="mui-badge ">{{ request.session.teacher_info.name }}</span>
            </li>
            <li class="mui-table-view-cell">身份
                <span class="mui-badge ">{% if request.session.teacher_info.is_psychology_teacher %} 心理老师 {% else %}
                    {{ request.session.teacher_info.identity }}{% endif %}
                    {% if  stu_class %}({{ stu_class }}){% endif %}</span>
            </li>
        </ul>
        <h3 class="component-title">功能列表</h3>
        <ul class="mui-table-view">
            {% if request.session.teacher_info.identity == '班主任' %}
                <li class="mui-table-view-cell">
                    <a href="/mental/student_list/">记录个别教育档案</a>
                    {#            <span class="mui-badge mui-badge-primary">11</span>#}
                </li>
                <li class="mui-table-view-cell">
                    <a href="/mental/appointment/">预约心理老师</a>
                    {#            <span class="mui-badge mui-badge-success">22</span>#}
                </li>

            {% endif %}

            {% if request.session.teacher_info.is_psychology_teacher %}
                <li class="mui-table-view-cell"><a href="/mental/appointment_manage/">预约管理</a>
                    {#                    <span class="mui-badge mui-badge-danger">44</span>#}
                </li>

                <li class="mui-table-view-cell"><a href="/mental/student_list/">查阅心理档案</a>
                    {#            <span class="mui-badge mui-badge-warning">33</span>#}
                </li>
                <li class="mui-table-view-cell">
                    <a href="/mental/export/">导出</a>

                </li>
            {% endif %}
        </ul>
        <!--。-->
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'MentalHealth/js/landing.js' %}"></script>
    <script>

    </script>
{% endblock %}