{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <style>
        .school input {
            width: 500px !important;
        }

        ul li {
            list-style: none;
            display: inline-block;
        }

        .error {
            color: red;
            position: relative;
            right: 80px;
        }
    </style>

{% endblock %}
{% block content %}

        <div style="width: 680px;margin: 0 auto;" class="shcool row">
            <form action="" method="post" novalidate>
                <div class="form-group form-inline">
                    <label for="country">所在国家:</label>
                    {{ form.country }}
                    <span class="pull-right error">{{ form.errors.country.0 }}</span>

                </div>

                <div class="form-group ">
                    <label for="school_name">学校名称：</label>
                    {{ form.school_name }}
                    <span class="pull-right error">{{ form.errors.school_name.0 }}</span>
                </div>

                <div data-toggle="distpicker" class="row form-inline distpicker form-group" style="margin-left: 1px">
                    <label>所在地:</label>
                    {{ form.province }}
                    {{ form.city }}
                    {{ form.region }}
                </div>

                <div>
                    <span class="pull-right error">{{ form.errors.province.0 }}</span>
                </div>

                <div class=" form-group">
                    <label for="school_address">学校地址：</label>
                    {{ form.address }}
                    <span class="pull-right error">{{ form.errors.address.0 }}</span>
                </div>

                <div class="form-group ">
                    <label>校区或分校：</label>
                    <div class="checkbox range">
                        {{ form.main_campus }}
                    </div>
                </div>

                <div class=" form-group">
                    <label for="school_name">分部或校区名称：</label>
                    {{ form.campus_district }}

                </div>


                <div class="" style="position: relative; bottom: 50px">
                    <span class="pull-right error">{{ form.errors.campus_district.0 }}</span>
                </div>

                <div class="pull-right">
                    <button class="btn btn-primary">提交</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'plug/Distpicker/dist/distpicker.js' %}"></script>

{% endblock %}