{% extends 'layout.html' %}
{% load static %}
{% load url_tag %}
{% block css %}
    <style>
        .school input {
            width: 500px !important;
        }

        ul li {
            list-style: none;
            display: inline-block;
        }

        a {

            cursor: pointer;
        }

        a:hover {
            color: orangered;
            text-decoration: none;
        }

        .error {
            color: red;
            position: relative;
            right: 80px;
        }

        #id_course, #id_class, #selected-class {
            width: 600px;
            margin-right: 300px;
        }

        #id_course li, #id_class li {
            width: 90px;
        }

        #selected-class li span {
            display: inline-block;
            width: 90px;
        }

        li label {
            cursor: pointer;
        }

        select {
            width: 70px;
            height: 37px;
            text-align: center;
            text-align-last: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="width: 680px;margin: 0 auto;" class="row">
        <form action="" method="post" novalidate>
            {% for field in form %}
                {% if field.label != 'Grade' %}
                    <div class="form-group">
                        <label for="student_name">{{ field.label }}:</label>
                        {{ field }}
                        <span class="pull-right error">{{ field.errors.0 }}</span>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-inline">
                <label>选择关联班级:</label>
                {% if form.grade %}
                    {{ form.grade }}
                {% else %}
                    <select name="grade" class="form-control" id="grade">

                    </select>
                {% endif %}

                <label for="all-class">全选</label>
                <input type="checkbox" id="all-class">
            </div>
            <div style="margin-top: 10px">
                <ul id="id_class">
                </ul>
            </div>

            <div class="choiced-class form-group">
                <label>已选班级:</label>
                <ul id="selected-class">
                    {% for item in selected_class %}
                        <li style="margin: 5px" class="class-item">
                            <input type='hidden' value='{{ item.stu_class_id }}' name='choice_class'>
                            <a><span data-id={{ item.stu_class_id }}>{{ item.stu_class }}</span></a>
                        </li>
                    {% endfor %}
                </ul>

            </div>

            <div class="pull-right" style="margin-top: 10px">
                <button class="btn btn-primary">提交</button>
            </div>
            <input value="{{ school_id }}" type="hidden" id="id_school">
        </form>

    </div>
{% endblock %}

{% block js %}
    <script src="{% build_static_url '/pub/js/common.js' %}"></script>
    <script>

        let TeacherOp = {
            init: function () {
                this.getClass();
                this.bindChangeGrade();
                this.bindChoiceAll();
                this.addChoice();
                this.cancelSelectedClass();
                this.bindChangeSchool()
            },

            getClass: function () {
                let schoolId = $('#id_school').val();
                let grade = $('#grade').val();
                let dataObj = common_ops.getStudentClass(schoolId, grade);
                if (dataObj) {
                    $('#id_class li').remove();
                    $('#all-class').prop('checked', '');
                    $('#grade option').remove();
                    if (dataObj.grade_list) {
                        for (let i = 0; i < dataObj.grade_list.length; i++) {
                            var gradeItem = {text: dataObj.grade_list[i].grade, value: dataObj.grade_list[i].id};
                            var gradeOpHtml = `<option value="${ gradeItem.value}">${ gradeItem.text }</option>`;
                            if (grade == gradeItem.value) {
                                gradeOpHtml = `<option selected="selected" value="${ gradeItem.value}">${ gradeItem.text }</option>`;
                            }
                            $('#grade').append(gradeOpHtml)
                        }
                    }
                    if (dataObj.stu_class) {
                        var class_data = JSON.parse(dataObj.stu_class);
                        let selectedSet = $('#selected-class').find('span');
                        var selectedGradeClassId = this.getSelectedGradeClass(selectedSet);
                        for (let i = 0; i < class_data.length; i++) {
                            var item = {text: class_data [i].fields.name, value: class_data[i].pk, $order: i + 1};
                            var checked = '';
                            if (common_ops.IsInArray(selectedGradeClassId, item.value)) {
                                checked = 'checked'
                            }
                            var opHtml = `<li>
                                               <label for="stu_class_${item.value}">
                                                    <input ${checked} value="${item.value}" class='class-item' type="checkbox" id="stu_class_${item.value}">${ item.text }
                                               </label>
                                           </li>`;
                            $('#id_class').append(opHtml)
                        }
                    }
                }
            },
            bindChangeGrade: function () {
                // 根据年级过滤出班级
                $('#grade').change(function () {
                    TeacherOp.getClass()
                })
            },
            bindChoiceAll: function () {
                // 全选
                let that = this;
                $('#all-class').click(function () {
                    let classInputSet = $('#id_class').find('input');
                    let selectedSet = $('#selected-class').find('span');
                    // 每个年级下的所有班级
                    let perGradeClassId = [];
                    $.each(classInputSet, function () {
                        perGradeClassId.push($(this).val())
                    });
                    let selectedGradeClassId = that.getSelectedGradeClass(selectedSet);
                    let target = $('#id_class input');
                    if (!$(this).prop('checked')) {
                        target.prop('checked', '');
                        let selectedLabel = $('#selected-class').find('span');
                        $.each(selectedLabel, function () {
                            let selectedId = $(this).attr('data-id');
                            if (common_ops.IsInArray(perGradeClassId, selectedId)) {
                                $(this).parents('li').remove()
                            }
                        })
                    } else {
                        target.prop('checked', 'checked');
                        $.each(classInputSet, function () {
                            let classId = $(this).val();
                            if (!common_ops.IsInArray(selectedGradeClassId, classId)) {
                                let className = $(this).parents('label').text();
                                let gradeName = $('#grade').find("option:selected").text();
                                let fullClass = gradeName + className.replace(/^\s+|\s+$/g, "");
                                let choiceHtml = `<li style="margin: 5px" class="class-item">
                                        <input type='hidden' value='${classId}' name='choice_class'>
                                        <a><span data-id=${classId}>${fullClass}</span></a>
                                      </li>`;
                                $('#selected-class').append(choiceHtml);
                            }
                        })
                    }

                })
            },
            getSelectedGradeClass: function (selectedSet) {
                // 每个年级选中的班级
                let selectedGradeClassId = [];
                $.each(selectedSet, function () {
                    selectedGradeClassId.push($(this).attr('data-id'))
                });
                return selectedGradeClassId
            },
            addChoice: function () {
                // 单个选中
                $('#id_class').on('click', '.class-item', function () {
                    let classId = $(this).val();
                    if ($(this).prop('checked')) {
                        let className = $(this).parents('label').text();
                        let gradeName = $('#grade').find("option:selected").text();
                        let fullClass = gradeName + className.replace(/^\s+|\s+$/g, "");
                        let choiceHtml = `<li style="margin: 5px" class="class-item" >
                                        <input type='hidden' value='${classId}' name='choice_class'>
                                        <a ><span data-id=${classId}>${fullClass}</span></a>
                                      </li>`;
                        $('#selected-class').append(choiceHtml);
                    } else {
                        $('#selected-class').find("span[data-id=" + classId + "]").parents('li').remove();
                    }

                })
            },
            cancelSelectedClass: function () {
                // 取消选中的班级
                var that = this;
                $('#selected-class').on('click', '.class-item', function () {
                    $(this).remove();
                    var selectedSet = $('#selected-class').find('span');
                    var selectedGradeClassId = that.getSelectedGradeClass(selectedSet);
                    var classInputSet = $('#id_class').find('input');
                    $.each(classInputSet, function () {
                        if (!common_ops.IsInArray(selectedGradeClassId, $(this).val())) {
                            $(this).prop('checked', '')
                        }
                    })
                })
            },
            bindChangeSchool: function () {
                // 更换学校获取年级/班级信息
                var that = this;
                $('#id_school').change(function () {
                    that.getClass();
                    $('#selected-class').find('li').remove()
                })
            }

        };

        $(document).ready(
            function () {
                TeacherOp.init()
            }
        )
    </script>
{% endblock %}