<!DOCTYPE html>
{% load static %}
<html class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title></title>
    <link href="{% static 'entrance/css/mui.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'entrance/css/mui.picker.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'entrance/css/mui.poppicker.css' %}" rel="stylesheet"/>
    <link href="{% static 'entrance/css/app.css' %}" rel="stylesheet"/>

</head>

<body>
<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">学生家庭信息</h1>
</header>
<img src="{% static 'entrance/images/daxiang.png' %}" alt="" class="positionImgbj"/>
<div class="mui-content">
    <!--进度条-->
    <div class="timeline">
        <ul class="flex box_sizing">
            <li class="act"><p><span class="mui-icon mui-icon-checkmarkempty"></span></p></li>
            <li class="act"><p><span class="mui-icon mui-icon-checkmarkempty"></span></p></li>
            <li class="act"><p><span class="mui-icon mui-icon-checkmarkempty"></span></p></li>
            <li><p></p>
                <p></p></li>
        </ul>

    </div>
    <!--表单-->
    <div class="mui-input-group box_sizing" id="input_information">
        {% for  fam_field in fam_field_list %}
            {% if fam_field.fields__fieldName == '居住地址' %}
                <div class="mui-input-row flex_center box_sizing">
                    <label>现居住地址：</label>
                    <input type="text" class="mui-input-clear"  placeholder="默认显示学校所在的区，可选择" id='householdRegister'>
                    <div class="right_pop flex_center">
                        <span class="mui-icon mui-icon-arrowright"></span>
                        <div id='userResult' class="ui-alert" style="display: none;"></div>
                    </div>
                </div>
                <div class="mui-input-row flex_center box_sizing">
                    <label style="opacity: 0;">现居住地址：</label>
                    <input type="text" id='address' class="mui-input-clear" placeholder="街道、楼牌号等">
                </div>
            {% elif fam_field.fields__fieldName == '居住条件' %}
                <div class="mui-input-row flex_center box_sizing">
                    <label>居住环境：</label>
                    <input type="text" class="mui-input-clear" placeholder="请选择居住环境" id='living_condition' readonly="readonly">
                    <div class="right_pop flex_center">
                        <span class="mui-icon mui-icon-arrowright"></span>
                    </div>
                </div>
            {% elif fam_field.fields__fieldName == '居住类型' %}
                <div class="mui-input-row flex_center box_sizing">
                    <label>居所属性：</label>
                    <input type="text" class="mui-input-clear" placeholder="请选择居所属性" id='living_type'
                           readonly="readonly">
                    <div class="right_pop flex_center">
                        <span class="mui-icon mui-icon-arrowright"></span>
                    </div>
                </div>
            {% elif fam_field.fields__fieldName == '家庭语言' %}
                <div class="mui-input-row flex_center box_sizing">
                    <label>家庭主要<br>交流语言：</label>
                    <input type="text" class="mui-input-clear" placeholder="请选择交流语言" id='language' readonly="readonly">
                    <div class="right_pop flex_center">
                        <span class="mui-icon mui-icon-arrowright"></span>
                    </div>
                </div>

            {% elif fam_field.fields__fieldName == '家庭状况' %}
                <div class="mui-input-row flex box_sizing">
                    <label>家庭关系(可多选)：</label>
                </div>
                <div class="FamilyBox">
                    <div class=" flex box_sizing" data-id="1">
                        <label>再婚：</label>
                        <div class="mui-input-clear">父母双方中任意一方存在再婚情况。</div>

                    </div>
                    <div class=" flex box_sizing" data-id="2">
                        <label>离异：</label>
                        <div class="mui-input-clear">父母存在离婚情况。</div>

                    </div>
                    <div class=" flex box_sizing" data-id="3">
                        <label>留守：</label>
                        <div class="mui-input-clear">父母双方长期在外工作，子女主要由其它监护人抚养。</div>

                    </div>
                    <div class=" flex box_sizing" data-id="4">
                        <label>领养：</label>
                        <div class="mui-input-clear">子女为领养。</div>

                    </div>
                    <div class=" flex box_sizing" data-id="5">
                        <label>单亲：</label>
                        <div class="mui-input-clear">离异、配偶去世、非婚生子等原因造成的单亲情况。</div>

                    </div>
                    <div class=" flex box_sizing isno" data-id="6">
                        <label style="width: 100%;">以上皆无：</label>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <!--<div class="mui-input-row flex_center box_sizing Nation">
           <label>居住情况：</label>
           <input type="text" class="" placeholder="">
           <div class="right_pop flex_center">编辑<span class="mui-icon mui-icon-arrowright"></span></div>
       </div>
       <div class="mui-input-row flex_center box_sizing Nation">
           <label>子女数量：</label>
           <input type="text" class="" placeholder="">
           <div class="right_pop flex_center">编辑<span class="mui-icon mui-icon-arrowright"></span></div>
       </div>-->
        <div class="mui-button-row" id="input_information">
            <button type="button" class="mui-btn mui-btn-primary Submission mui-btn-block">下一步</button>
        </div>
    </div>

    <div id="setting_pk" pk="{{ pk }}"></div>
</div>

<script type="text/javascript" src="{% static 'entrance/js/jQuery1.9.js' %}"></script>
<script type="text/javascript" src="{% static 'entrance/js/ajaxUrl.js' %}"></script>
<script type="text/javascript" src="{% static 'entrance/js/mui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'entrance/js/rem.js' %}"></script>
<script type="text/javascript" src="{% static 'entrance/js/mui.picker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'entrance/js/mui.poppicker.js' %}"></script>
<script type="text/javascript" src="{% static 'entrance/js/city.data.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'entrance/js/city.data-3.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'entrance/js/app3.js' %}"></script>


</body>

</html>

