<!DOCTYPE html>
{% load static %}
<html class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="referrer" content="always">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title></title>
    <link href="{% static 'pub/css/mui.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'pub/css/mui.picker.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'pub/css/mui.poppicker.css' %}" rel="stylesheet"/>
    <link href="{% static 'entrance/css/app.css' %}" rel="stylesheet"/>
    <style>
        .mui-btn {
            font-size: 16px;
            padding: 8px;
            margin: 3px;
        }

        h5.mui-content-padded {
            margin-left: 3px;
            margin-top: 20px !important;
        }

        h5.mui-content-padded:first-child {
            margin-top: 12px !important;
        }

        .ui-alert {
            text-align: center;
            padding: 20px 10px;
            font-size: 16px;
        }


    </style>

</head>

<body>
<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">学生基本信息</h1>
</header>
<img src="{% static 'entrance/images/daxiang.png' %}" alt="" class="positionImgbj"/>
<div class="mui-content">
    <!--进度条-->
    <div class="timeline">
        <ul class="flex box_sizing">
            <li class="act"><p><span class="mui-icon mui-icon-checkmarkempty"></span></p></li>
            <li><p></p></li>
            <li><p></p></li>
            <li><p></p>
                <p></p></li>

        </ul>
        <!--<p class="border"></p>-->
    </div>
    <!--表单-->
    <div class="mui-input-group box_sizing" id="input_information">

        {% for field in stu_field_list %}
            {% if field.fields__fieldName == '国籍' %}
                <div class="mui-input-row flex_center box_sizing nationality">
                    <label>国籍：</label>
                    <input type="text" value="中国" class="mui-input-clear guoji_name" readonly="readonly" data-id="1">
                    <img src="{% static 'entrance/images/p0.png' %}" alt="" class="guoji_img"/>
                    <div class="right_pop flex_center">选择国籍<span class="mui-icon mui-icon-arrowright"></span></div>
                </div>
            {% elif field.fields__fieldName == '姓名' %}
                <div class="mui-input-row flex_center box_sizing" id="zw_x">
                    <label>中文姓{% if field.is_required == 1 %}<span>(必填)</span>{% else%}<span>(选填)</span>{% endif %}：</label>
                    <input type="text" id="last_name"  class="mui-input-clear {% if field.is_required == 1 %} required{% endif %}" placeholder="请输入用户名"
                           onkeyup="this.value=this.value.replace(/[^\u4e00-\u9fa5a-zA-Z0-9\w]/g,'')" value="{{ student_obj.last_name }}">
                </div>
                <div class="mui-input-row flex_center box_sizing" id="zw_m">
                    <label>中文名{% if field.is_required == 1 %}<span>(必填)</span>{% else%}<span>(选填)</span>{% endif %}：</label>
                    <input type="text" id="first_name" class="mui-input-clear {% if field.is_required == 1 %} required{% endif %}" placeholder="请输入用户名"
                           onkeyup="this.value=this.value.replace(/[^\u4e00-\u9fa5a-zA-Z0-9\w]/g,'')" value="{{ student_obj.first_name }}">
                </div>
                <div class="mui-input-row flex_center box_sizing" id="isName">
                    <label>姓名{% if field.is_required == 1 %}<span>(必填)</span>{% else%}<span>(选填)</span>{% endif %}：<br>
                        <span>name</span></label>
                    <input type="text" id="name"  class="mui-input-clear {% if field.is_required == 1 %} required{% endif %}" placeholder="e.g.,Terry Rossio"
                           onkeyup="this.value=this.value.replace(/[^\u4e00-\u9fa5a-zA-Z0-9\w]/g,'')" value="{{ student_obj.full_name }}">
                </div>
            {% elif field.fields__fieldName == '照片' %}
                <div class="mui-input-row flex box_sizing" id="position_file">
                    <label>照片：</label>
                    <!--<img id="headimg" src='images/tou.png'  class="imageup">-->
                    <form name="form0" id="form0">
                        <img src="{% static 'entrance/images/tou.png' %}" id="img0" class="hide"> <br>
                        <input type="file" name="file0" id="file0" multiple="multiple"/>
                    </form>
                </div>
            {% elif field.fields__fieldName == '性别' %}
                <div class="mui-input-row flex_center box_sizing ">
                    <label>性别{% if field.is_required == 1 %}<span>(必选)</span>{% else%}<span></span>{% endif %}：</label>
                    <input type="text"  class="mui-input-clear {% if field.is_required == 1 %} required{% endif %}" value="{{ student_obj.gender }}" id="gender">
                    <div class="positionSex">
                        <img src="{% static 'entrance/images/male.png' %}" alt="" class="act" data-sex="1"/>
                        <img src="{% static 'entrance/images/female2.png' %}" alt="" data-sex="2"/>
                    </div>
                </div>
            {% elif field.fields__fieldName == '身份证' %}
                <div class="mui-input-row flex_center box_sizing">
                    <label>身份证{% if field.is_required == 1 %}<span>(必填)</span>{% else%}<span>(选填)</span>{% endif %}：</label>
                    <input class="mui-input-clear {% if field.is_required == 1 %} required{% endif %}"  placeholder="请填写身份证号码" maxlength="18" id="id_card">
                </div>
            {% elif field.fields__fieldName == '民族' %}
                <div class="mui-input-row flex_center box_sizing Nation" id="isNation">
                    <label>民族{% if field.is_required == 1 %}<span>(必填)</span>{% else%}<span>(选填)</span>{% endif %}：</label>
                    <input type="text" class="{% if field.is_required == 1 %} required{% endif %}" readonly="readonly" id="nation" value="汉族">
                    <div class="right_pop flex_center">选择民族<span class="mui-icon mui-icon-arrowright"></span></div>
                </div>

            {% elif field.fields__fieldName == '毕业园校' %}
                <div class="mui-input-row flex_center box_sizing"  id="MschooiInput">
                    <label>毕业园所{% if field.is_required == 1 %}<span>(必填)</span>{% else%}<span>(选填)</span>{% endif %}：</label>
                    <input type="text" class="mui-input-clear {% if field.is_required == 1 %} required{% endif %}" placeholder="请填写毕业院校" data-id=""
                           onkeyup="school(this)" id="graduate_institutions">
                </div>
            {% elif field.fields__fieldName == '户籍' %}
                <div class="mui-input-row flex_center box_sizing">
                    <label>户籍所在地{% if field.is_required == 1 %}<span>(必填)</span>{% else%}<span>(选填)</span>{% endif %}：</label>
                    <input type="text" class="mui-input-clear {% if field.is_required == 1 %} required{% endif %}" placeholder="请选择户籍所在地" id='householdRegister'>
                    <div class="right_pop flex_center">
                        <span class="mui-icon mui-icon-arrowright"></span>
                        <div id='userResult' class="ui-alert" style="display: none;"></div>
                    </div>
                </div>
            {% elif field.fields__fieldName == '生日' %}
                <div class="mui-input-row flex_center box_sizing">
                    <label>生日{% if field.is_required == 1 %}<span data-name="required">(必填)</span>{% else%}<span>(选填)</span>{% endif %}：</label>
                    <input type="text" class="mui-input-clear Birthday {% if field.is_required == 1 %} required{% endif %}" id='birthday'
                           data-options='{"type":"date","beginYear":"1990","endYear":""}'
                           placeholder="请选择日期" value="{{ student_obj.birthday|date:"Y-m-d"  }}">
                </div>
            {% endif %}


        {% endfor %}

        <div class="mui-button-row" id="input_information">

            <button type="button" class="mui-btn mui-btn-primary Submission mui-btn-block">下一步</button>
        </div>
    </div>
    <div class="mui_loading "><div class="flex_center"><img src="{% static 'entrance/images/loding.gif' %}" alt="" /></div></div>
    <div id="setting_pk" pk="{{ pk }}"></div>
    <div id="student_pk" pk="{{ student_obj.pk }}"></div>
    <div id="school_pk" pk="{{ school_obj.pk }}"></div>
</div>

<!--国籍弹窗-->
<div class="pop_Choice pop_nationality">
    <div class="flex_center">
        <div class="body box_sizing">
            <ul id="pop_nationality">
            </ul>
        </div>
    </div>
</div>

<!--学校-->
<div class="pop_school">
	<div class="inputBox flex box-sizing MuiBjColor">
		<input type="text" class="mui-input-clear" placeholder="请填写毕业院校" data-id=""
			onkeyup="school(this)" id="schooiInput">
		<label>取消</label>
	</div>
	<ul id="school">

	</ul>
</div>

<!--名族弹窗-->
<div class="pop_Choice pop_Nation">
    <div class="flex_center">
        <div class="body box_sizing" id="NationData">
        </div>
    </div>
</div>
<style>
    #position_file {
        position: relative;
        height: 80px;
    }

    #img0 {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        position: absolute;
        top: 5px;
    }

    #file0 {
        background: #f00;
        width: 70px;
        height: 70px;
        overflow: hidden;
        position: absolute;
        top: 5px;
        opacity: 0;
    }

    .pop_nationality li {
        float: left;
        width: 25%;
        text-align: center;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        padding-top: 10px;
    }

    .pop_nationality li:nth-child(4n) {
        border-right: 0px;
    }

    .pop_nationality li:nth-child(1), .pop_nationality li:nth-child(2), .pop_nationality li:nth-child(3), .pop_nationality li:nth-child(4) {
        border-top: 0px;
    }

    .pop_nationality li p {
        margin: 0;
        padding: 0;
    }

    .pop_nationality li img {
        width: 45px;
        height: 30px;
    }
</style>

<script type="text/javascript" src="{% static 'pub/js/jQuery1.9.js' %}"></script>
<script type="text/javascript" src="{% static 'entrance/js/ajaxUrl.js' %}"></script>
<script type="text/javascript" src="{% static 'pub/js/mui.min.js' %}"></script>

<script type="text/javascript" src="{% static 'entrance/js/rem.js' %}"></script>
<script type="text/javascript" src="{% static 'pub/js/mui.picker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'pub/js/mui.poppicker.js' %}"></script>
<script type="text/javascript" src="{% static 'entrance/js/city.data.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'entrance/js/city.data-3.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'entrance/js/app.js' %}"></script>
<script type="text/javascript">
</script>

</body>

</html>

