{% extends 'layout.html' %}
{% load my_tags %}

{% block css %}
    <style>
        .comb-search {
            padding: 5px 20px;
        }

        .comb-search .row .whole {
            width: 60px;
            float: left;

        }

        .comb-search .row .others {
            padding-left: 60px;
        }

        .comb-search .row a {
            display: inline-block;
            padding: 5px 8px;
            margin: 3px;
            border: 1px solid #d4d4d4;

        }

        .comb-search .row a {
            display: inline-block;
            padding: 5px 8px;
            margin: 3px;
            border: 1px solid #d4d4d4;
        }

        .comb-search a.active {
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
        }

        td, th {
            text-align: center;
            height: 30px;

        }

        {#学校列表相关css#}
        .grey span {
            color: gray;
        }

        .op_father {
            position: relative;

        }

        .op_father:hover .op_list {
            height: 140px;
            width: 60px;
            display: block;
            z-index: 10;
        }

        .op_list {

            position: absolute;
            left: 13px;
            display: none;
            border: 1px solid rgba(0, 0, 0, .15);
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            background-color: #fff;
        }

        .op_list a {
            display: inline-block;
            cursor: pointer;
            text-decoration: none;
            color: #000000;

        }
    </style>
{% endblock %}



{% block content %}


    <div class="x-body">
        <div style="overflow: hidden">
            {% if cl.search_list %}
                <div style="float: left">
                    <form method="get" class="layui-form x-so" style="width: 280px" action="">
                        <input type="text" name="q" placeholder="请输入老师名称" autocomplete="off" class="layui-input"
                               value="{{ cl.keyword }}" style="width: 200px">
                        <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="sreach"><i
                                class="layui-icon"></i>
                        </button>
                    </form>
                </div>
            {% endif %}
            {% if cl.add_btn %}
                <div style="float: left">
                    {{ cl.add_btn }}
                </div>
            {% endif %}

            <div class="pull-right" style="margin-bottom: 5px">
                <a class="layui-btn layui-btn-normal" href="{{ extra.add }}">添加老师</a>
                <a class="layui-btn layui-btn-warm" href="{{ extra.import }}">导入老师</a>
                <a class="layui-btn layui-btn-danger" href="{{ extra.import }}">导出老师</a>
            </div>
         </div>

        {% if cl.list_filter%}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-filter" aria-hidden="true"></i> 快速筛选
                </div>
                <div class="panel-body">
                    <div class="comb-search">
                        {% for row in cl.gen_list_filter_row %}
                            <div class="row">
                                {% for obj in row %}
                                    {{ obj|safe }}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% table2 cl %}

        <nav class="pull-right">
            <ul class="pagination">
                {{ cl.page|safe }}
            </ul>
        </nav>


    </div>

{% endblock %}


