<div class="layui-col-md-offset1" >
    <div class="col-md-2 choice-item" style="position: relative">
        <a class="info-item">学生信息</a>
        <div class="sub-info " style="position: absolute;">
            {% for item in stu_info_choice %}
                <a class="field" id="{{ item.pk }}" type="stu-info">{{ item.fieldName }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-2 choice-item">
        <a class="info-item">健康信息</a>
        <div class="sub-info health-info" style="position: absolute;">
            {% for item in hel_info_choice %}
                <a class="field" id="{{ item.pk }}" type="hel-info">{{ item.fieldName }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-2 choice-item">
        <a class="info-item">家庭信息</a>
        <div class="sub-info " style="position: absolute;">
            {% for item in fam_info_choice %}
                <a class="field" id="{{ item.pk }}" type="fam-info">{{ item.fieldName }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-2 choice-item">
        <a class="info-item">家长信息</a>
        <div class="sub-info " style="position: absolute;">
            {% for item in par_info_choice %}
                <a class="field" id="{{ item.pk }}" type="par-info">{{ item.fieldName }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-2 choice-item">
        <a class="info-item">自定义信息</a>
        <div class="sub-info " style="position: absolute;">
            {% for item in customization_field %}
                <a class="field" id="{{ item.pk }}" type="customization">{{ item.fieldName }}</a>
            {% endfor %}
        </div>
    </div>

</div>
