{% extends 'layout.html' %}
{% load static %}
{% load url_tag %}
{% block css %}
    <link rel="stylesheet" href="{% build_static_url '/school/school_info/css/pub.css' %}">
    <link rel="stylesheet" href="{% build_static_url '/school/school_info/css/timetable.css' %}">

    <style>
        .set-time {
            margin-top: 10px;
            width: 110px;
        }

        .left-border {
            position: relative;
        }

        .time_box {
            overflow: hidden;
            text-align: center;
            border: 1px solid #e2e2e2;
            margin-top: 10px;
            padding: 10px;
            width: 100%;
            position: absolute;
            z-index: 999;
            background: #fff;
            animation: fadeInUp .3s ease-out, opacity .3s;
            -webkit-animation: fadeInUp .3s ease-out, opacity .3s;
        }

        .time_box .title {
            padding-bottom: 10px
        }

        .time_box .box-l, .time_box .box-r {
            float: left;
            width: 48.8%;
            border: 1px solid #e2e2e2;
        }

        .time_box .box-l div, .time_box .box-r div {
            height: 150px;
            overflow-y: scroll;
        }

        .time_box h1 {
            font-size: 14px;
            font-weight: 500;
            border-bottom: 1px solid #e2e2e2;
            padding: 5px 0
        }

        .time_box div p {
            cursor: pointer;
            line-height: 30px;
            font-size: 14px
        }

        .time_box div p:hover,
        .time_box p.act {
            background: green;
            color: #fff
        }

        .time_box .scrollbar div::-webkit-scrollbar {
            width: 1px;
        }

        .time_box .scrollbar div::-webkit-scrollbar-track {
            background-color: red;
            -webkit-border-radius: 2em;
            -moz-border-radius: 2em;
            border-radius: 2em;
        }

        .time_box .scrollbar div::-webkit-scrollbar-thumb {
            background-color: green;
            -webkit-border-radius: 2em;
            -moz-border-radius: 2em;
            border-radius: 2em;
        }

        @-webkit-keyframes fadeInUp {
            0% {
                opacity: 0;
                -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0)
            }

            to {
                opacity: 1;
                -webkit-transform: none;
                transform: none
            }
        }

        @keyframes fadeInUp {
            0% {
                opacity: 0;
                -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0)
            }

            to {
                opacity: 1;
                -webkit-transform: none;
                transform: none
            }
        }

        .fadeInUp {
            -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp
        }
    </style>
{% endblock %}

{% block content %}


    <div class="" style="margin-left: 20px">
        <div id="header" class="ax_default label">
            <div id="head_div" class="">
                <div id="head_text" class="text ">
                    <p>
                        <span>{{ head_info.school_name }} {{ head_info.year }} {{ head_info.period }}届（{{ head_info.grade }}）课程表</span>
                    </p>
                </div>
            </div>

        </div>
        <div class="form-inline" style="margin-bottom: 6px">
            <label for="choice-grade">选择年级:</label>
            {% for grade in grad_queryset %}
                {% if grade.grade_id  == selected_grade.id %}
                {% endif %}
                <a class="btn-success btn btn-outline {% if grade.grade_id  == selected_grade.id %} active {% endif %}"
                   href="?gradeId={{ grade.grade_id }}">{{ grade.grade__grade_name }}</a>
            {% endfor %}

        </div>
        <div id="wrap" style="overflow-x: scroll">
            <table class="table fixed-table_header" id="tMain" cellpadding="0" cellspacing="0">
                <thead class="tb-head">
                <tr>
                    <th style="width: 100px" colspan="1" class="left-border">
                        <div>时间段</div>
                    </th>
                    <th style="text-align: center" class="week">周一</th>
                    <th style="text-align: center" class="week">周二</th>
                    <th style="text-align: center" class="week">周三</th>
                    <th style="text-align: center" class="week">周四</th>
                    <th style="text-align: center" class="week">周五</th>
                </tr>
                <tr class="class-th">
                    <th class="left-border">
                        <div class="" style="">
                            <button class="btn-primary btn" id="add-row">+添加</button>
                        </div>
                    </th>
                    {% for i in week_list %}
                        {% for class in class_list %}
                            <th class="th-class" week="{{ i }}"
                                {% if forloop.first %}style="border-left: #efefef solid 1px;" {% elif forloop.last %}
                                style="border-right: #efefef solid 1px;"
                                {% endif %}>
                                <div class="class-box">
                                    <div class="text class-item" style="margin-top: 8px">
                                            <span style="color:#1E1E1E;" class="class-name"
                                                  class-id="{{ class.id }}">{{ class.name }}</span>
                                    </div>
                                </div>
                            </th>

                        {% endfor %}
                    {% endfor %}

                </tr>

                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="course-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" style="margin-top:250px ">
            <div class="modal-content">
                <input id="class-info" type="hidden">
                <input id="time-info" type="hidden">
                <input id="course-table-id" type="hidden">
                <input type="hidden" id="position">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">
                        <a class="active edit-tag course-tag" href="javascript:void 0">课程编辑</a>
                        <a class="edit-tag other-tag">其他编辑</a>
                    </h4>
                </div>
                <div class="modal-body edit-course">
                    <div class="form-group">
                        <label for="op-course">选择课程:</label>
                        <select id="op-course" class="form-control">
                            <option id="default-op" value="0">请选择课程</option>
                            {% for course in course_list %}
                                <option value="{{ course.pk }}">
                                    {{ course.course_des }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="op-teacher">代课老师:</label>
                        <input id="op-teacher" class="form-control" type="text" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <p id="single-double-week">
                            <label for="every">每周</label>
                            <input type="radio" checked="checked" name="choice-week" value="1" id="every">
                            <label for="single">单周</label>
                            <input type="radio" name="choice-week" value="2" id="single">
                            <label for="double">双周</label>
                            <input type="radio" name="choice-week" value="3" id="double">
                        </p>
                    </div>
                </div>
                <div class="modal-body edit-orther modal-hide">
                    <div class="form-group">
                        <label for="op-event">选择事件:</label>
                        <select id="op-event" class="form-control">
                            {% for event in other_event %}
                                <option value="{{ event.0 }}">{{ event.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" data-type=0 id="submit-data">提交更改</button>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none" id="table-dict">{{ course_table_dict }}</div>
{% endblock %}


{% block js %}
    <script src="{% build_static_url '/pub/js/ajaxUrl.js' %}"></script>
    <script src="{% build_static_url '/school/school_info/js/timetable.js' %}"></script>

    <script>

    </script>
{% endblock %}
