{% load static %}
{% load rbac_tag %}
<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>君集软件</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" href="{% static 'stark/imgs/luffy-study-logo.png' %} ">
    <link rel="stylesheet" href="{% static 'stark/plugins/bootstrap/css/bootstrap.css' %} "/>
    <link rel="stylesheet" href="{% static 'stark/plugins/font-awesome/css/font-awesome.css' %} "/>
    <!-- Custom Styles-->

    <link rel="stylesheet" href="{% static 'xadmin/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'xadmin/css/xadmin.css' %}">


    <link href="{% static 'plug/iCheck/skins/flat/blue.css' %}" rel="stylesheet">
    <style>


        ul li {
            list-style: none;
            display: inline-block;
        }

        a:hover {
            text-decoration: none;
        }

        .modal-backdrop {
            z-index: 10;
            background: #fff;
        }

        .layui-layout-admin .layui-logo {
            width: 140px;
            font-size: 20px;
        }
    </style>
    {% block css %} {% endblock %}

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">君集软件</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    {{ request.session.username }}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/logout/">登出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            {% multi_menu request %}
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->

        {% breadcrumb request %}
        <div style="padding: 15px;">
            <span id="testView"></span>
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 君集软件 - 底部固定区域
    </div>
</div>
<!-- JS Scripts-->
<script type="text/javascript" src="{% static 'xadmin/lib/layui/layui.js' %}" charset="utf-8"></script>
<script src="{% static 'stark/js/jquery-3.3.1.min.js' %} "></script>
<script src="{% static 'plug/iCheck/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'xadmin/js/xadmin.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'xadmin/js/xcity.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'xadmin/js/cookie.js' %}" charset="utf-8"></script>

<script src="{% static 'stark/plugins/bootstrap/js/bootstrap.js' %} "></script>
{% block js %}
{% endblock %}
<script>
    // radio和checkbox样式
    $(document).ready(function () {
        $('.icheck').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });
    });

    layui.use(['form', 'code'], function () {
        form = layui.form;
        layui.code();
        $('#x-city').xcity();

        form.on('select(area)', function () {
            console.log(123)
            console.log($('#area').val())
        });
    });

    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '.lay-time' //指定元素
        });
    });
</script>

</body>
</html>