<!DOCTYPE html>
{% load static %}
<html class="ui-page-login">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>问卷调查</title>
    <link href="{% static 'pub/css/mui.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'entrance/css/../../static/entrance/css/questions.css' %}" rel="stylesheet"/>


</head>

<body>
<header class="mui-bar mui-bar-nav">
    <h1 class="mui-title">问卷调查</h1>
</header>

<div class="mui-content">
    <!--矩阵量表-->
    <div id="input_information">
        {% for scale_item in scale_list %}
            <div class="AnswerBox ScaleTable" scale_pk= {{ scale_item.pk }}>
                <h3 class="component-title">{{ scale_item.title }}</h3>
                {% for line_title in scale_item.line_title.all %}
                    <div class="box">
                        <div class="title">{{ line_title.des }}</div>
                        <div class="radioBox  flex" data-type="1">
                            {% for option in scale_item.options.all %}
                                <div class="mui-radio">
                                    <div class="Pradio" data-text="0" optionValue="{{ option.pk }}"
                                         lineTitle="{{ line_title.pk }}"><p></p></div>
                                    <label>{{ option.des }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <!--单选-->
    <div id="dan_input_information">
        {% for single_choice in single_choice_list %}
            <div class="ManyAnswerBox SingleChoice" choice-id="{{ single_choice.pk }}">
                <h3 class="component-title">{{ single_choice.title }}(单选)</h3>
                <div class="box">
                    <div class="radioBox" data-type="3">
                        {% for opdes in single_choice.opdes.all %}
                            <div class="mui-radio">
                                <div class="Pradio" data-text="{{ forloop.counter }}" op-id="{{ opdes.pk }}"><p></p></div>
                                <label>{{ opdes.des }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <!--多选-->
    <div id="Many_input_information">
        <!--2-1-->
        {% for multi_choice in multi_choice_list %}
            <div class="ManyAnswerBox MultiChoice" choice-id="{{ multi_choice.pk }}">
                <h3 class="component-title">{{ multi_choice.title }}（多选）</h3>
                <div class="box">
                    <div class="radioBox" data-type="2">
                        {% for opdes in multi_choice.opdes.all %}
                            <div class="mui-radio">
                                <div class="Pradio" data-text="{{ forloop.counter }}" op-id="{{ opdes.pk }}" ><p></p></div>
                                <label>{{ opdes.des }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="mui-button-row">
        <button type="button" class="mui-btn mui-btn-primary btnPrimary mui-btn-block">提交</button>
    </div>
</div>
<div id="setting_pk" pk="{{ pk }}"></div>
<script type="text/javascript" src="{% static 'pub/js/mui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'pub/js/jQuery1.9.js' %}"></script>
<script type="text/javascript" src="{% static 'entrance/js/ajaxUrl.js' %}"></script>
<script type="text/javascript" src="{% static 'entrance/js/../../static/entrance/js/questionnaire.js' %}"></script>


</body>

</html>

