{% extends "layout.html" %}
{% load static %}
{% block css %}
    <style>
        .inner-box {
            width: 850px;
            overflow: auto;
        }

        .labels {
            width: 100px;
            font-size: 14px;
            color: black;
            padding: 3px 16px;
            text-align: left;
        }
    </style>
{% endblock %}
{% block content %}
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6 layui-col-md-offset3">
                <div class="layui-card inner-box">
                    <div class="layui-card-header">发布链接</div>
                    <div class="layui-card-body ">
                        <div class="">
                            <img src="{{ qrfile }}"
                                 id="ctl02_ContentPlaceHolder1_imgQrcode" class="pull-left" alt="二维码" width="140"
                                 height="140">
                            <div class="detailed-box pull-left" style="margin-top: 30px">
                                <span class="pull-left strong" style="width:130px;">问卷链接与二维码</span>
                                <div id="divCopyMsg" style="color: red; font-size: 14px;width:120px;padding-left:10px;"
                                     class="pull-left"></div>
                                <span class="pull-left" style="margin-bottom: 0;">
                                        <input  type="text" class="link-input pull-left" style="width:250px;" value="{{ url }}">
                                        <a href="{{ url }}" id="hrefOpenLink" target="_blank"
                                           class="layui-btn layui-btn-sm" style="margin-left: 10px">打开</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card inner-box" style="width: 850px">
                        <div class="layui-card-header">表单设置</div>
                        <div class="layui-card-body">
                            <form class="layui-form" action="" method="post">
                                <div class="layui-form-item">
                                    <label class="layui-form-label labels">标题</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="title" id='title' lay-verify="title" autocomplete="off"
                                               placeholder="请输入标题" value="{{ title }}" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label labels">发布开关</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" id="switch" {% if status == 1 %}checked=""
                                               value="1" {% endif %}
                                               name="status"
                                               lay-skin="switch" lay-text="ON|OFF">
                                        <div class="layui-unselect layui-form-switch " lay-skin="_switch">
                                            <em>OFF</em><i></i></div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label labels">结束语</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="peroration" id='peroration'  autocomplete="off"
                                               placeholder="请输入结束语" value="{{ peroration }}" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <label class="layui-form-label labels">表单描述信息</label>
                                    <div class="layui-input-block">
                                        <textarea placeholder="请输入内容" name="des" id="description"
                                                  class="layui-textarea">{{ description }}</textarea>
                                    </div>
                                </div>
                                <div class="layui-input-block">
                                    <span class="layui-btn" lay-filter="demo1" id="submit">立即提交</span>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block js %}
    <script src={% static 'tables_setting/js/release.js' %}></script>
{% endblock %}